<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>购物车</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
	<div class="page-cart" ng-controller="PageCart">

		<section class="section goods">
			<div class="box">
				<div class="img"><img src="assets/img/goods2.jpg" alt=""></div>
				<div class="flex">
					<h3>台湾进口SODA热卖单品只写一行卖单品只写一行卖单品只写一行</h3>
					<div class="tags">
						<span class="tag">3包</span><span class="tag">麻辣味</span>
					</div>
					<div class="box">
						<div class="flex price">￥103.00</div>
						<div class="num"><span class="icons icon-reduced disabled" ng-click="reduced($event);"></span><b>1</b><span class="icons icon-addition" ng-click="addition($event);"></span></div>
					</div>
				</div>
			</div>
		</section>
		<section class="section goods">
			<div class="box">
				<div class="img"><img src="assets/img/goods2.jpg" alt=""></div>
				<div class="flex">
					<h3>台湾进口SODA热卖单品只写一行卖单品只写一行卖单品只写一行</h3>
					<div class="tags">
						<span class="tag">3包</span><span class="tag">麻辣味</span>
					</div>
					<div class="box">
						<div class="flex price">￥103.00</div>
						<div class="num"><span class="icons icon-reduced disabled" ng-click="reduced($event);"></span><b>1</b><span class="icons icon-addition" ng-click="addition($event);"></span></div>
					</div>
				</div>
			</div>
		</section>
		
		<div class="mod-order-footer-holder"></div>
		<footer class="mod-order-footer">
			<b class="price">￥438.6</b><small>共 2 件商品</small><a class="clearing" href="">去结算</a>
		</footer>
	</div>

	<script src="assets/js/lib/angular.min.js"></script>
	<script src="assets/js/lib/jquery.min.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>