<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>结算</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
	<div class="page-order-confirm" ng-controller="PageOrderConfirm">
		<section class="section address">
			<span class="icons icon-arrow"></span>
			<div class="box"><div class="flex"><span class="icons icon-user"></span>收货人</div><div class="flex"><span class="icons icon-phone"></span>18858868878</div></div>
			<div class="box">
				<div class="flex street"><span class="icons icon-location"></span>杭州市滨江区秋溢路228号江虹国际创意园6e605</div>
			</div>
		</section>
		<section class="section mod-table">
			<div class="row">
				<div class="cell icon"><span class="icons icon-clock"></span>配送时间</div><div class="cell r">工作日配送</div>
			</div>
			<div class="row">
				<div class="cell icon"><span class="icons icon-truck"></span>配送方式</div><div class="cell r">快递包邮</div>
			</div>
			<div class="row">
				<div class="cell icon"><span class="icons icon-coupon"></span>优惠券</div><div class="cell r">优惠券 5 元</div>
			</div>
		</section>
		<section class="section mod-table">
			<div class="row" ng-click="payment = 'wechat'">
				<div class="cell icon"><span class="icons icon-wechat"></span>微信支付</div><div class="cell r"><span class="icons icon-checkbox" ng-class="{'icon-checkbox-checked': payment == 'wechat'}"></span></div>
			</div>
			<div class="row" ng-click="payment = 'alipay'">
				<div class="cell icon"><span class="icons icon-alipay"></span>支付宝</div><div class="cell r"><span class="icons icon-checkbox" ng-class="{'icon-checkbox-checked': payment == 'alipay'}"></span></div>
			</div>
			<div class="row" ng-click="payment = 'balance'">
				<div class="cell icon"><span class="icons icon-balance"></span>账户余额</div><div class="cell r"><span class="icons icon-checkbox" ng-class="{'icon-checkbox-checked': payment == 'balance'}"></span></div>
			</div>
		</section>
		<section class="section">
			<div class="goods">
				<div class="bdb-x box">
					<div class="img"><img src="assets/img/goods2.jpg" alt=""></div>
					<div class="flex">
						<h3>台湾进口SODA单品只能写一行</h3>
						<span class="num">×3</span>
						<b class="price">￥110.9</b>
					</div>
				</div>
				<div class="bdb-x box">
					<div class="img"><img src="assets/img/goods2.jpg" alt=""></div>
					<div class="flex">
						<h3>台湾进口SODA单品只能写一行</h3>
						<span class="num">×3</span>
						<b class="price">￥110.9</b>
					</div>
				</div>
			</div>
			<div class="total">
				<p>订单金额：<span>￥430.00</span></p>
				<p>配送费用：<span>￥430.00</span></p>
				<p>优惠减免：<span>￥430.00</span></p>
				<p>实付金额：<span class="red">￥430.00</span></p>
			</div>
		</section>
		<div class="mod-order-footer-holder"></div>
		<footer class="mod-order-footer">
			<b class="price">￥438.6</b><small>共 2 件商品</small><a class="clearing" href="">去结算</a>
		</footer>
	</div>

	<script src="assets/js/lib/angular.min.js"></script>
	<script src="assets/js/lib/jquery.min.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>