<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div class="page-orders" ng-controller="PageOrders">
		<nav class="bdb-x nav">
			<div ng-class="{'selected': tab == 1}" ng-click="tab = 1;">全部订单</div>
			<div ng-class="{'selected': tab == 2}" ng-click="tab = 2;">待支付</div>
			<div ng-class="{'selected': tab == 3}" ng-click="tab = 3;">待收货</div>
			<div ng-class="{'selected': tab == 4}" ng-click="tab = 4;">待评价</div>
		</nav>
		<section class="item">
			<div class="top"><div class="fl">订单号：2016030312222</div><div class="fr">待支付</div></div>
			<div class="goods">
				<ul>
					<li class="img"><a href=""><img src="goods2.jpg" alt=""></a><span>1</span></li>
					<li class="img"><a href=""><img src="goods2.jpg" alt=""></a><span>1</span></li>
					<li class="img"><a href=""><img src="goods2.jpg" alt=""></a><span>1</span></li>
					<li class="img"><a href=""><img src="goods2.jpg" alt=""></a><span>1</span></li>
					<li class="img"><a href=""><img src="goods2.jpg" alt=""></a><span>1</span></li>
				</ul>
			</div>
			<div class="buttom">
				<p>共 6 件商品&#12288;商品金额：99.99<span class="fr">2016-03-05</span></p>
				<div class="bdt-x button">
					<a href="" class="button-black">取消订单</a>
					<a href="" class="button-black">重新下单</a>
					<a href="" class="button-black">去支付</a>
				</div>
			</div>
		</section>
		<section class="item">
			<div class="top"><div class="fl">订单号：2016030312222</div><div class="fr">待支付</div></div>
			<div class="goods">
				<ul>
					<li class="img"><a href=""><img src="goods2.jpg" alt=""></a><span>1</span></li>
					<li class="img"><a href=""><img src="goods2.jpg" alt=""></a><span>1</span></li>
					<li class="img"><a href=""><img src="goods2.jpg" alt=""></a><span>1</span></li>
					<li class="img"><a href=""><img src="goods2.jpg" alt=""></a><span>1</span></li>
					<li class="img"><a href=""><img src="goods2.jpg" alt=""></a><span>1</span></li>
				</ul>
			</div>
			<div class="buttom">
				<p>共 6 件商品&#12288;商品金额：99.99<span class="fr">2016-03-05</span></p>
				<div class="bdt-x button">
					<a href="" class="button-black">取消订单</a>
					<a href="" class="button-black">重新下单</a>
					<a href="" class="button-black">去支付</a>
				</div>
			</div>
		</section>
		<!-- <div ng-repeat="item in items" on-finish-render="ngRepeatFinished">
	    <div>{{item.name}}<div>
		</div> -->
	</div>

	<script src="angular.min.js"></script>
	<script src="jquery.min.js"></script>
	<script src="iscroll.js"></script>
	<script src="main.js"></script>

</body>
</html>