<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>classify</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="assets/css/main.css">
	<style>
		html, body, .page-classify, .nav, .content { height: 100%; }
		.nav, .content { overflow: auto; }
	</style>
</head>
<body class="bg-white">
	<div id="vue-view" class="page-classify">
		<div class="nav">
			<ul>
				<li @click="href(117)" class="classify1" :class="{'selected': typeid == 117}">
					<span class="icon"></span>
					午后茶点
				</li>
				<li @click="href(118)" class="classify2" :class="{'selected': typeid == 118}">
					<span class="icon"></span>
					魅力爆款
				</li>
				<li @click="href(119)" class="classify3" :class="{'selected': typeid == 119}">
					<span class="icon"></span>
					恋爱小食
				</li>
				<li @click="href(120)" class="classify4" :class="{'selected': typeid == 120}">
					<span class="icon"></span>
					妈咪天下
				</li>
				<li @click="href(121)" class="classify5" :class="{'selected': typeid == 121}">
					<span class="icon"></span>
					缤纷礼盒
				</li>
				<li @click="href(122)" class="classify6" :class="{'selected': typeid == 122}">
					<span class="icon"></span>
					海货归来
				</li>
				<li @click="href(123)" class="classify7" :class="{'selected': typeid == 123}">
					<span class="icon"></span>
					全家分享
				</li>
				<li @click="href(124)" class="classify8" :class="{'selected': typeid == 124}">
					<span class="icon"></span>
					猛兽专区
				</li>
			</ul>
		</div>
		<div class="content">
			<div class="body">
				<div class="menu">
					<div v-for="item in brands" data-id="{{item.id}}">{{item.name}}</div>
				</div>
				<div class="list">
					<ul id="list-ul">
						<li v-for="item in goods" data-id="{{item.goods_id}}" @click="goDetail(item.goods_id);">
							<div class="img"><img src="{{item.image || 'assets/img/placeholder-goods.png'}}" alt=""></div>
							<p>{{item.goods_name}}</p></a>
						</li>
					</ul>
					<div class="clear-text" v-show="loading">加载中...</div>
					<div class="clear-text" v-show="last && !loading">已经是最后一页了...</div>
				</div>
			</div>
		</div>
	</div>
	<script src="assets/js/lib/jquery.min.js"></script>
	<script src="assets/js/lib/iscroll.js"></script>
	<script src="assets/js/lib/vue.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script>
		var params = $.params();

		// $('.nav, .content').on('touchmove', function(e) {
		// 	e.stopPropagation();
		// 	e.preventDefault();
		// });

		var vm = new Vue({
			el: '#vue-view',
			data: {
				last: false,
				loading: false,
				typeid: 0,
				brands: [],
				brandid: 0,
				goods: [],
				pageindex: 1,
				pagesize: 20
			},
			methods: {
				href: function(id) {
					this.typeid = id;
					getBrandlist();
					this.pageindex = 1;
					this.last = false;
					this.loading = false;
					this.getGoods();
					$('.content').scrollTop(0)
				},
				clickBrand: function(id) {
					
					this.brandid = id;
					// this.pageindex = 1;
					app.intentClassifyWeb(this.typeid + '', this.brandid);
				},
				getGoods: function() {
					if (this.last || this.loading) {
						return;
					}
					this.loading = true;
					api.search({
						goods_type_id: this.typeid,
						page_index: this.pageindex,
						page_size: this.pagesize
					}).done(function(response) {
						if (!response.success) {
							Toast(response.message || response.Message);
							return;
						}
						if (vm.pageindex == 1) {
							vm.goods = [];
							vm.goods = response.data;
						}
						else {
							vm.goods = vm.goods.concat(response.data);
						}
						var max = Math.ceil(response.code / vm.pagesize);
						if (max < vm.pageindex + 1) {
							vm.last = true;
							return;
						}
						vm.pageindex ++;
					}).always(function() {
						vm.loading = false;
					});
				},
				goDetail: function(id) {
					app.intentGoodsDetail(id);
					// maps.goods(id);
				}
			}
		});

		vm.typeid = params.search.typeid || 117;

		$('.menu').on('click', 'div', function() {
			$(this).addClass('selected').siblings().removeClass('selected');
			vm.clickBrand($(this).attr('data-id'));
		});

		var getBrandlist = function() {
			api.brandlist(vm.typeid).done(function(response) {
				if (!response.success) {
					Toast(response.message || response.Message);
					return;
				}
				
				vm.brands = response.data;

				// vm.$nextTick(function() {
				// 	$('.menu').find('a').first().trigger('click');
				// });
			}).error(function(response) {
				Toast(response.status);
			}).always(function() {

			});
		};

		page.push(function() {

			if (vm.typeid) {
				vm.href(vm.typeid);
			}

			var clientHeight = $('.content').height();
			$('.content').on('scroll', function() {
				if (vm.last || vm.loading) {
					return;
				}
				var scrollTop = $('.content').scrollTop();
				var pageHeight = $('.content .body').height();
				if (scrollTop >= pageHeight - clientHeight) {
					vm.getGoods();
				}
			});

		});
	</script>
</body>
</html>