<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
	<div id="vue-view" class="page-coupon">
		<section class="search">
			<input v-model="code" class="input" type="text" placeholder="输入优惠码">
			<div class="button" @click="coupon()">添加优惠券</div>
		</section>
		<section class="tips box">
			<!-- <div class="flex" v-if="coupons.length">有 <b></b> 张优惠券即将过期</div> -->
			<div class="flex tar"><span class="icons icon-question"></span> 优惠券使用说明</div>
		</section>
		<div class="mod-coupon-item" v-for="item in coupons">
			<div class="amount">
				￥<b>{{Math.floor(item.amount)}}</b>
			</div>
			<div class="flex">
				<h3>{{Math.floor(item.amount)}}元优惠券</h3>
				<p>{{item.remark}}</p>
				<p class="ended">使用期限：{{item.expired}}</p>
			</div>
		</div>

		<div class="mod-empty" v-if="!coupons.length">
			暂无优惠券
		</div>
	</div>
	<script src="assets/js/lib/jquery.min.js"></script>
	<script src="assets/js/lib/mustache.min.js"></script>
	<script src="assets/js/lib/vue.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script>

		var vm = new Vue({
			el: '#vue-view',
			data: {
				coupons: []
			},
			methods: {
				coupon: function() {
					if (!vm.code) {
						return;
					}

					api.couponAdd(vm.code).done(function(response) {
						if (response.success) {
							Toast('添加成功');

							getList();
						}
						else {
							Toast(response.message);
						}
					});
				}
			}
		});


		var getList = page.push(function() {
			api.couponList().done(function(response) {
				if (response.success) {
					vm.coupons = response.data;
				}
			});
		});

	</script>
</body>
</html>