<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
	<div id="vue-view" class="page-goods-detail">
		<!-- <a href="" class="icons icon-back"></a> -->
		<!-- <a href="" class="icons icon-share"></a> -->
		<!-- <section id="busSliderWraper" class="bus-slider-wraper bus-slider-wraper-loading">
			<div id="busSlider" class="bus-slider">
				<a class="bus-slider-cell" href="javascript:;">
					<img src="assets/img/banner.jpg">
				</a>
				<a class="bus-slider-cell" href="javascript:;">
					<img src="assets/img/banner.jpg">
				</a>
				<a class="bus-slider-cell" href="javascript:;">
					<img src="assets/img/banner.jpg">
				</a>
			</div>
			<div id="busSliderControl" class="bus-slider-control">
				<em></em><em></em><em></em>
			</div>
		</section> -->
		<div class="goods-img">
			<img src="{{goods.middle_image}}" width="100%" alt="">
		</div>
		<section class="section goods-header">
			<header id="vueHeader" class="box">
				<h2 class="flex clamp2">{{goods.goods_name}}</h2>
				<div class="bdl-y collection" :class="{'disabled': goods.is_favorite}" v-cloak @click="doFavorite">
					<span class="icons icon-collection"></span><small>{{goods.is_favorite ? '已收藏' : '收藏'}}</small>
				</div>
			</header>
			<div class="box prices">
				<strong>￥{{goods.sale_price}}</strong>
			</div>
			<!-- <div class="box prices">
				<div class="flex"><small>2 个起批</small><b>￥110.9</b></div>
				<div class="flex"><small>2 个起批</small><b>￥110.9</b></div>
				<div class="flex"><small>2 个起批</small><b>￥110.9</b></div>
			</div> -->
		</section>
		<section class="section goods-production box">
			<div class="flex">产地：<span>{{goods.place_origin}}</span></div><div class="flex">重量：<span>{{goods.weight / 1000}}kg</span></div>
		</section>
		<section class="section goods-spec">
			<dl class="spec-list" v-for="spec in goods.spec">
				<dt>{{spec.spec_name}}</dt>
				<dd sku-name="{{spec.spec_name}}:{{item.sku_name}}" class="{{index == 0 && 'selected'}}" v-for="(index, item) in spec.spec_item" key="{{item.valueids}}" @click="chooseSpec">{{item.sku_name}}</dd>
			</dl>
		</section>
		<section class="section comment">
			<div class="flex box-vertical">
				用户评价&nbsp;&nbsp;{{{star(goods.comment_star)}}}
			</div>
			<a href="comment-list.html?id={{goods.goods_id}}" class="flex link">
				{{goods.comment_times}} 个评价<span class="icons icon-arrow"></span>
			</a>
		</section>
		<section class="recommend" v-if="recommend.length">
			<header>
				<h3>为您推荐</h3>
			</header>
			<ul>
				<li v-for="item in recommend" @click="goDetail(item.goods_id)"><a class="img"><img src="{{item.image}}" alt=""></a><h4 class="clamp1">{{item.goods_name}}</h4><p>￥{{item.sales_price}}</p></li>
			</ul>
		</section>
		<div class="mod-order-footer-holder"></div>
		<footer class="mod-order-footer">
			<div class="ctl-qty"><span @click="qtyMinus" class="icons icon-minus"></span><input class="ipt-qty" v-model="qty" type="text" readonly="readonly" value="1"><span @click="qtyPlus" class="icons icon-plus"></span></div><a class="btn" href="javascript:;" @click="cartAdd(goods.goods_id)">加入购物车</a>
		</footer>
	</div>
	<script src="assets/js/lib/jquery.min.js"></script>
	<script src="assets/js/lib/mustache.min.js"></script>
	<script src="assets/js/lib/vue.min.js"></script>
	<script src="assets/js/main.js"></script>
	
	<script>

		var params = $.params();

		var vm = new Vue({
			el: '#vue-view',
			data: {
				goods: {},
				recommend: []
			},
			methods: {
				doFavorite: function() {

					var user = app.getUser();
					if (!user) {
						app.signin();
						return;
					}

					if (vm.goods.is_favorite) {
						api.favoriteRemove(params.search.id).done(function(response) {
							if (response.success) {
								vm.goods.is_favorite = false;
							}
							else {
								Toast(response.message);
							}
						});
					}
					else {
						api.favoriteAdd(params.search.id).done(function(response) {
							if (response.success) {
								vm.goods.is_favorite = true;
							}
							else {
								Toast(response.message);
							}

						});
					}
				},
				chooseSpec: function(event) {
					var $target = $(event.target);
					$target.addClass('selected').siblings('dd').removeClass('selected');
				},
				star: function(lv) {
					var lv = Math.ceil(lv);
					var stars = [];
					for (var i = 1, l = 5; i <= l; i++) {
						if (lv >= i) {
							stars.push('<span class="icons icon-star-yellow-small"></span>');
						}
						else {
							stars.push('<span class="icons icon-star-gray-small"></span>');
						}
					}

					return stars.join('');
				},
				goDetail: function(id) {
					app.intentGoodsDetail(id);
				},
				cartAdd: function(id) {

					var user = app.getUser();
					if (!user) {
						app.signin();
						return;
					}

					var specId = [];
					var specName = [];
					$('.spec-list').each(function() {
						var $this = $(this).find('.selected');
						specId.push($this.attr('key'));
						specName.push($this.attr('sku-name'));
					});
					
					api.cartAdd({
						goods_id: id,
						qty: vm.qty,
						sku: specId.join(';') + (specId.length > 0 ? ';' : '')
					}).done(function(response) {
						if (response.success) {
							Toast('添加成功！');
						}
						else {
							Toast(response.message);
						}
					});
				},
				qtyMinus: function() {
					if (vm.qty <= 1) {
						return;
					}
					vm.qty = parseInt(vm.qty) - 1;
				},
				qtyPlus: function() {
					vm.qty = parseInt(vm.qty) + 1;
				}
			}
		});

		// page.push(function() {
		// 	var slider = new Slider({
		// 		conversion: 1
		// 	});
		// });

		page.push(function() {
			api.goods(params.search.id).then(function(response) {
				if (response.success) {
					vm.goods = response.data;
				}
			});

			// 为您推荐
			api.spaceGoods('recommend').done(function(response) {
				vm.recommend = response.data;
			});

			// api.favoriteExist(params.search.id).done(function(response) {
			// 	if (response.success) {
			// 		vm.favorite = response.data;
			// 	}
			// });

			// api.goodsOptional(params.search.id).done(function(response) {
			// 	console.log(response)
			// })
			
		});
	</script>
</body>
</html>