<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
	<div id="vue-view">
		<section id="busSliderWraper" class="bus-slider-wraper bus-slider-wraper-loading">
			<div id="busSlider" class="bus-slider">
				<a class="bus-slider-cell" href="javascript:;">
					<img src="assets/img/banner.jpg">
				</a>
				<a class="bus-slider-cell" href="javascript:;">
					<img src="assets/img/banner.jpg">
				</a>
				<a class="bus-slider-cell" href="javascript:;">
					<img src="assets/img/banner.jpg">
				</a>
			</div>
			<div id="busSliderControl" class="bus-slider-control">
				<em></em><em></em><em></em>
			</div>
		</section>
		<section class="mod-classify">
			<a href="">
				<img src="assets/img/icon-1.png">
				<span>订单查询</span>
			</a>
			<a href="">
				<img src="assets/img/icon-2.png">
				<span>会员专享</span>
			</a>
			<a href="">
				<img src="assets/img/icon-3.png">
				<span>每日特价</span>
			</a>
			<a href="">
				<img src="assets/img/icon-4.png">
				<span>手机签到</span>
			</a>
		</section>
		<div class="space10"></div>
		<header>
			<a class="title-bar">
				<h3>精品特卖</h3>
			</a>
		</header>
		<section class="mod-hotlist">
			<a href="goods-detail.html?id={{item.goods_id}}" v-for="item in boutique"><img src="{{item.image}}"></a>
		</section>
		<div class="space10"></div>
		<header>
			<a class="title-bar">
				<h3>进口热销</h3>
			</a>
		</header>
		<section class="mod-hotlist">
			<a href="goods-detail.html?id={{item.goods_id}}" v-for="item in imported"><img src="{{item.image}}"></a>
		</section>
	</div>
	<script src="assets/js/lib/jquery.min.js"></script>
	<script src="assets/js/lib/vue.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script>
		var slider = new Slider();
		var vm = new Vue({
			el: '#vue-view',
			data: {
				boutique: [],
				imported: []
			},
			methods: {

			}
		});
		page.push(function() {
			// 精品特卖
			api.spaceGoods('index_1').done(function(response) {
				vm.boutique = response.data;
			});
			// 进口热销
			api.spaceGoods('index_2').done(function(response) {
				vm.imported = response.data;
			});
		});
	</script>
</body>
</html>