<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
	<div id="vue-view" class="page-orders">
		<nav class="bdb-x nav">
			<div :class="{'selected': status == 0}" @click="changeStatus(0);">全部</div>
			<div :class="{'selected': status == 10}" @click="changeStatus(10);">待支付</div>
			<div :class="{'selected': status == 80}" @click="changeStatus(80);">待收货</div>
			<!-- <div :class="{'selected': status == 15}" @click="changeStatus(15);">待评价</div> -->
			<div :class="{'selected': status == 100}" @click="changeStatus(100);">已完成</div>
		</nav>
		<section class="item" v-for="order in orders">
			<div class="top"><a @click="goDetail(order.order_id);" class="fl">订单号：{{order.order_id}}</a><div class="fr">{{order.status}}</div></div>
			<div class="goods" v-if="order.order_goods.length > 0">
				<ul>
					<li class="img" v-for="goods in order.order_goods"><a href="goods-detail.html?id={{goods.goods_id}}"><img src="{{goods.image || 'assets/img/placeholder-goods.png'}}" alt=""></a><span v-if="goods.qty > 0">{{goods.qty}}</span></li>
				</ul>
			</div>
			<div class="buttom">
				<p>共 {{order.order_goods.length}} 件商品&#12288;商品金额：{{order.payment_amount}}<span class="fr">{{order.create_time | substring '10')}}</span></p>
				<div class="bdt-x button">
					<a class="button-black" v-if="order.status_id == 10" @click="orderCancel(order.order_id);">取消订单</a>
					<a class="button-black" v-if="order.status_id == 200" @click="orderReadd(order.order_id);">重新下单</a>
					<a class="button-black" v-if="order.status_id == 10" @click="orderPay(order.payment_amount, order.order_goods, order.order_id);">去支付</a>
					<a class="button-black" v-if="order.status_id == 80">查看物流</a>
					<a class="button-black" v-if="order.status_id == 80" @click="orderReceived(order.order_id);">确认收货</a>
					<a href="comment.html?id={{order.order_id}}" class="button-black" v-if="order.status_id == 15">去评价</a>
					<a class="button-black" v-if="order.status_id == 15 || order.status_id == 35 || order.status_id == 200 || order.status_id == 100" @click="orderDel(order.order_id);">删除订单</a>
				</div>
			</div>
		</section>
		<div class="clear-text" v-show="loading">加载中...</div>
		<div class="mod-empty" v-if="!orders.length && !loading">
			暂无订单
		</div>
		<!-- <div ng-repeat="item in items" on-finish-render="ngRepeatFinished">
	    <div>{{item.name}}<div>
		</div> -->
	</div>

	<script src="assets/js/lib/jquery.min.js"></script>
	<script src="assets/js/lib/vue.min.js"></script>
	<script src="assets/js/lib/iscroll.js"></script>
	<script src="assets/js/lib/llalert.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script>
		var params = $.params();

		var vm = new Vue({
			el: '#vue-view',
			data: {
				loading: false,
				status: params.search.status || 0,
				orders: [],
				ajax: null

			},
			methods: {
				changeStatus: function(id) {
					if (this.status == id) {
						return;
					}
					this.status = id;

					if (vm.ajax) {
						vm.ajax.abort();
					}
					getOrders();
				},
				orderReceived: function(id) {
					app.showWaiting('操作中...');
					api.orderReceived(id).done(function(response) {
						if (response.success) {
							Toast('操作成功');
						}
						else {
							Toast('操作失败');
						}
					}).always(function() {
						app.hideWaiting();
					});
				},
				orderCancel: function(id) {
					var cancel = function() {
						app.showWaiting('取消中...');
						api.orderCancel(id).done(function(response) {
							if (response.success) {
								var index = null;
								$.each(vm.orders, function(i) {
									if (this.order_id == id) {
										vm.orders.splice(i, 1);
									}
								});
								getOrders();
								Toast('操作成功');
							}
							else {
								Toast('操作失败');
							}
						}).always(function() {
							app.hideWaiting();
						});
					};

					new llalert({
						content: '确定取消该订单',
						button: {
							ok: {
								color: '#ff3000',
								callback: function() {
									cancel();
								}
							},
							no: {
								text: '不了'
							}
						}
					});
				},
				orderDel: function(id) {
					app.showWaiting('删除中...');
					api.orderDel(id).done(function(response) {
						if (response.success) {
							getOrders();
							Toast('操作成功');
						}
						else {
							Toast('操作失败');
						}
					}).always(function() {
						app.hideWaiting();
					});
				},
				orderReadd: function(id) {
					app.showWaiting('请稍候...');
					api.orderReadd(id).done(function(response) {
						if (response.success) {
							Toast('商品已添加至购物车');
						}
						else {
							Toast('操作失败');
						}
					}).always(function() {
						app.hideWaiting();
					});
				},
				goDetail: function(id) {
					app.intentOrderDetail(id);
				},
				orderPay: function(amount, orderGoods, id) {
					var name = orderGoods[0].goods_name + (orderGoods.length > 1 ?  '等多件' : '');
					app.showWaiting('操作中...');
					api.getPayConfig().done(function(response) {
						app.payMoney(response.data.partner_id, response.data.key, response.data.account, name, name, amount, id)
					}).always(function() {
						app.hideWaiting();
					});
					// api.orderPay(id).done(function(response) {
					// 	if (response.success) {
							
							
					// 	}
					// 	else {
					// 		Toast('操作失败');
					// 	}
					// }).always(function() {
					// 	app.hideWaiting();
					// });
				}
			}
		});


		var getOrders = page.push(function() {
			vm.loading = true;
			vm.orders = [];
			vm.ajax = api.orders(vm.status).done(function(response) {
				if (response.success) {
					vm.orders = response.data || [];

					vm.$nextTick(function() {
						$('.item').each(function() {
							if (!$(this).find('.goods').get(0)) {
								return;
							}
							// var pScroll = new IScroll($(this).find('.goods').get(0), {
							// 	snap: true,
							// 	scrollX: true,
							// 	scrollY: false,
							// 	click: true,
							// 	mouseWheel: true
							// });
						});
					});
				}
				else {
					Toast(response.message);
				}
			}).always(function() {
				vm.ajax = null;
				vm.loading = false;
			});
		});

		// page.push(function() {
		// 	if (params.search.status) {
		// 		getOrders();
		// 	}
		// });

	</script>
</body>
</html>