<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>结算</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
	<div id="vue-view" class="page-order-detail">
		<section class="section top">
			<div class="title">
				<p class="fl">订单编号：{{order.order_id}}<br>下单时间：{{order.create_time | datetime}}</p>
				<b class="fr">{{order.status}}</b>
			</div>
			<div class="bdt-x address">
				<div class="box">
					<div class="label"><span class="icons icon-user"></span>收货人：</div><div class="flex">{{order.full_name}}</div>
				</div>
				<div class="box">
					<div class="label"><span class="icons icon-phone"></span>联系电话：</div><div class="flex">{{order.mobile}}</div>
				</div>
				<div class="box">
					<div class="label"><span class="icons icon-location"></span>收货地址：</div><div class="flex">{{order.province}}{{order.city}}{{order.area}}{{order.address}}</div>
				</div>
				<div class="box">
					<div class="label"><span class="icons icon-truck"></span>物流信息：</div><div class="flex">{{order.ship_name}}</div><span class="icons icon-arrow"></span>
				</div>
			</div>
		</section>
		<header>
			<h3 class="section-title">购买的商品</h3>
		</header>
		<section class="section goods" v-for="goods in order.order_goods">
			<div class="box">
				<div class="img"><a href="goods-detail.html?id={{goods.goods_id}}"><img src="{{goods.image}}" alt=""></a></div>
				<div class="flex">
					<a href="goods-detail.html?id={{goods.goods_id}}"><h3>{{goods.goods_name}}</h3></a>
					<div class="box">
						<div class="flex">
							<span class="tag" v-for="sku in goods.sku_name.split(',')">{{sku}}</span>
						</div>
						<div class="price tar">
							<b>￥{{goods.total}}</b>
							<span>*{{goods.qty}}</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="section total">
			<p>订单金额：<span>￥{{order.total_amount}}</span></p>
			<p>配送费用：<span>￥{{order.ship_amount}}</span></p>
			<p>优惠减免：<span>￥{{order.coupon_amount}}</span></p>
			<p>实付金额：<span class="red">￥{{order.payment_amount}}</span></p>
		</div>
		<div class="mod-order-footer-holder"></div>
		<footer class="mod-order-footer">
			<b class="price">￥{{order.payment_amount}}</b><small>共 {{order.order_goods.length}} 件商品</small><a class="btn" href="javascript:;" v-if="order.status_id == 10">去支付</a>
		</footer>
	</div>

	<script src="assets/js/lib/jquery.min.js"></script>
	<script src="assets/js/lib/vue.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script>

		var params = $.params();
		
		var vm = new Vue({
			el: '#vue-view',
			data: {
				order: {}
			}
		});

		page.push(function() {

			api.orderDetail(params.search.id).done(function(response) {
				if (response.success) {
					vm.order = response.data;
				}
				else {
					Toast(response.message);
				}
			});

		});
	</script>
</body>
</html>